{% extends "base.html" %} {% block content %}
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Ticker</th>
      <th>Price</th>
      <th>Stock Exchange</th>
      <th>Country</th>
      <th>Currency</th>
    </tr>
  </thead>
  <tbody>
    {% for item in stock %}
    <tr>
      <td>{{item.name}}</td>
      <td>{{item.ticker}}</td>
      <td>{{price}}</td>
      <td>{{item.primary_exchange}}</td>
      <td>{{item.locale}}</td>
      <td>{{item.currency_name}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<div>{{ graph|safe }}</div>
{% endblock %}
