{% extends "base.html" %} {% block content %}

<div class="d-flex align-items-center">
  <div class="dropdown">
    <a
      class="btn btn-secondary dropdown-toggle"
      href="#"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Sort by
    </a>

    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" href="/stocks/sort-ticker">Ticker name</a>
      </li>
      <li><a class="dropdown-item" href="/stocks/sort-price">Price</a></li>
    </ul>
  </div>

  <form class="d-flex ms-2" role="search">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
    />
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Ticker</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {% for stock in stocks %}
    <tr>
      <td>
        <a href="{% url 'stocks:detail' stock.T %}">{{stock.T}}</a>
      </td>
      <td>{{stock.c}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
