{% extends "base.html" %} {% block content %} {% if stocks%}

<div class="d-flex align-items-center">
  <div class="dropdown">
    <a
      class="btn btn-secondary dropdown-toggle"
      href="#"
      role="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
    >
      Sort by
    </a>

    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" href="/stocks/sort-ticker">Ticker symbol</a>
      </li>
      <li><a class="dropdown-item" href="/stocks/sort-price">Price</a></li>
    </ul>
  </div>

  <form class="d-flex ms-2" role="search" id="searchForm">
    <input
      class="form-control me-2"
      type="search"
      placeholder="Search ticker symbol"
      aria-label="Search"
      id="searchInput"
    />
    <button class="btn btn-outline-success" type="submit">Search</button>
  </form>
</div>

<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Ticker</th>
      <th>Price</th>
      
    </tr>
  </thead>
  <tbody>
    {% for stock in stocks %}
    <tr>
      <td>
        <a href="{% url 'stocks:detail' stock.T %}">{{stock.T}}</a>
      </td>
      <td>{{stock.c}}</td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>
<script>
  document
    .getElementById("searchForm")
    .addEventListener("submit", function (event) {
      event.preventDefault(); // Prevent default form submission
      var searchInput = document.getElementById("searchInput").value.trim(); // Get the trimmed value of the input field

      // Check if the search input is not empty
      if (searchInput !== "") {
        // Construct the URL and redirect
        window.location.href = "/stocks/search-" + searchInput.toUpperCase();
      } else {
        // Display an alert or perform other actions to handle empty search input
        alert("Please enter a ticker symbol to search.");
      }
    });
</script>

{% else %}
<p>
  We could not find the ticker symbol you are looking for. Press
  <a href="/stocks">here</a> to browse all stocks.
</p>
{% endif %} {% endblock %}
