{% extends "base.html" %} 
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex align-items-center">
        <div class="dropdown">
          <a
            class="btn btn-secondary dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sort by
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/portfolio/sort-ticker">Ticker name</a>
            </li>
            <li><a class="dropdown-item" href="/portfolio/sort-price">Price</a></li>
          </ul>
        </div>

        <form class="d-flex ms-2" role="search" id="searchForm">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search ticker symbol"
            aria-label="Search"
            id="searchInput"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
      
        
      </div>
      <h2>Orders</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Quantity</th>
            <th>Transaction Date</th>
            <th>Price ($)</th>
            <!-- <th>Active?</th> -->
            <th>Stock Name</th>
            <th>Username</th>
          </tr>
          
        </thead>
        <tbody>
          {% for order in orders %}
            <tr>
              <td>{{ order.quantity }}</td>
              <td>{{ order.stock.transactionDate }}</td>
              <td>{{ order.stock.price }}</td>
              <!-- <td>{{ order.isActive }}</td> -->
              <td>{{ order.stock }}</td>
              <td>{{ order.user }}</td>
              <td>
              <a href="#" class="btn btn-danger" onclick="confirmSell('{{ order.id }}', '{{ order.stock }}')">Close stock</a>
              </td>
              
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  function confirmSell(orderId, stock) {
    if (confirm("Are you sure you want to sell " +  stock + " stock?")) {
      order.stock.isActive=false
    }
  }
</script>
{% endblock %}

{% block footer %}
<div class="footer">
  <p>2024 Ali, Victor og Kasper</p>
</div>
{% endblock %}
