{% extends "base.html" %} {% block content %}
<h2>Portfolio</h2>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex align-items-center">
        <div class="dropdown">
          <a
            class="btn btn-secondary dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sort by
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/portfolio/sort-ticker"
                >Ticker name</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/portfolio/sort-price">Price</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Quantity</th>
        <th>Transaction Date</th>
        <th>Price ($)</th>
        <!-- <th>Active?</th> -->
        <th>Stock Name</th>
        <th>Current price</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for order in orders %}
      <tr>
        <td>{{ order.quantity }}</td>
        <td>{{ order.stock.transactionDate }}</td>
        <td>{{ order.stock.price }}</td>
        <!-- <td>{{ order.isActive }}</td> -->
        <td>{{ order.stock }}</td>
        <td>{{ order.current_price }}</td>

        <td>
          <a
            href="./{{ order.id }}/{{ order.quantity }}/{{ order.current_price }}/sell-stock"
            >Sell stock</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
