{% extends "base.html" %} 
{% block content %}
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Ticker</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    {% for item in orders %}
    <tr>
      <td>{{orders.quantity}}</td>
      <td>{{orders.transaction_date}}</td>
      <td>{{orders.isBuyOrder}}</td>
      <td>{{item.price}}</td>
      <td>{{item.is_Active}}</td>
      <td>{{item.stock_ID}}</td>
      <td>{{item.user_ID}}</td>
      
    </tr>
  </tbody>
</table>
{% endfor %}
{% endblock %}

{% block footer %}
<div class="footer">
  <p>2024 Ali, Victor og Kasper</p>
</div>
{% endblock %}
