{% extends "base.html" %} 
{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      <div class="d-flex align-items-center">
        <div class="dropdown">
          <a
            class="btn btn-secondary dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Sort by
          </a>
      
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/portfolio/sort-ticker">Ticker name</a>
            </li>
            <li><a class="dropdown-item" href="/portfolio/sort-price">Price</a></li>
          </ul>
        </div>
      
      <h2>Orders</h2>
      <table class="table">
        <thead>
          <tr>
            <th>Quantity</th>
            <th>Transaction Date</th>
            <th>Buy Order</th>
            <th>Price ($)</th>
            <th>Active?</th>
            <th>Stock Name</th>
            <th>Username</th>
          </tr>
        </thead>
        <tbody>
          {% for order in Order %}
            {% if order.user == request.user %}
              <tr>
                <td>{{ order.quantity }}</td>
                <td>{{ order.transactionDate }}</td>
                <td>{{ order.isBuyOrder }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.isActive }}</td>
                <td>{{ order.stockID.name }}</td>
                <td>{{ order.user }}</td>
              </tr>
            {% endif %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
<div class="footer">
  <p>2024 Ali, Victor og Kasper</p>
</div>
{% endblock %}
