<! -- Kilde: "Django Tutorial Part 8: User authentication and permissions" ved https://developer.mozilla.org/en-US/docs/Learn/Server-side/Django/Authentication  -->

{% extends "base.html" %} {% block content %} {% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %} {% if next %} {% if user.is_authenticated %}
<p>
  Your account doesn't have access to this page. To proceed, please login with
  an account that has access.
</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %} {% endif %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <table>
    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td class="input-group-text">{{ form.username }}</td>
    </tr>
    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
  </table>
  <input type="submit" class="btn btn-primary" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you set up the password_reset view in your URLconf #}
<p>Dont have an account? Sign up<a href="{% url 'signup' %}"> here!</a></p>
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}
